<!DOCTYPE html>
<html>
<head>
    <title>WebSocket Test</title>
</head>
<body>
    <button onclick="connect()">Connect</button>
    <script>
        var socket = null;

        function connect() {
            socket = new WebSocket('ws://' + window.location.host + '/');
            socket.onopen = function() {
                console.log('WebSocket connection established');
            };
            socket.onmessage = function(event) {
                console.log('Message received:', event.data);
            };
            socket.onclose = function() {
                console.log('WebSocket connection closed');
            };
        }
    </script>
</body>
</html>
